 <div class="container">
   <div class="row">
     <%= render 'users/list', user: @book.user %>
     <div class="col-md-8 offset-md-1">
       <h2>Book detail</h2>
       <table class="table">
         <tbody>
           <tr>
            <td>
              <%= image_tag @book.user.get_profile_image %> <br>
              <%= link_to @book.user.name, user_path(@book.user.id)  %>
            </td>
            <td>
              <%= @book.title %>
            </td>
            <td><%= @book.body %></td>
              <% if @book.user == current_user %>
                <td><%= link_to "Edit", edit_book_path(@book.id), method: :get %></td>
                 <td><%= link_to "Destroy", book_path(@book), method: :delete %></td>
              <% end %>


                <% if @book.favorited_by?(current_user) %>
                  <td>
                    <%= link_to book_favorites_path(@book), method: :delete do%>
                       <i class="fas fa-heart like-btn "></i><%=@book.favorites.count%>
                    <%end%>
                  </td>
                <%else%>
                <td>
                  <%= link_to book_favorites_path(@book), method: :post do%>
                     <i class="fas fa-heart unlike-btn "></i><%=@book.favorites.count%>
                  <%end%>
                </td>
                <%end%>

           </tr>
         </tbody>
       </table>
        <div>
          <p>コメント件数:<%= @book.book_comments.count %></p>
          <%@book.book_comments.each do |book_comment|%>

             <%= image_tag book_comment.user.get_profile_image %>

              <%= book_comment.comment %>
              <% if book_comment.user == current_user %>
              <div class="btn btn-outline-secondary ">
                  <%= link_to "Destroy",book_book_comment_path(book_comment.book, book_comment) , method: :delete %>
                </div>

              <br>
            <%end%>
            <%= book_comment.user.name %>
            <br>
          <%end%>
        </div>
        <div>
          <%= form_with model: [@book,@book_comment] do |f| %>
            <%= f.text_area :comment, rows: '5', placeholder:"コメント" %>
            <%= f.submit "送信する" %>
          <%end%>
        </div>
     </div>
   </div>
 </div>



